.article {
  padding-bottom: 8em;
  padding-top: 2em;

  img {
    width: 100%;
  }

  p {
    // font-size: 1.4em;
    font-size: 1em;

    @media(min-width: $bp-lg) {
      font-size: 1.4em;
    }
  }

  hr {
    margin: 1em 0em;
    display: inline-block;
    width: 100%;
    border: none;
    height: 1px;
    background: #aaa;
  }

}

.article-item-el {
  a {
    background: #333;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1em 4em;
    border-radius: 5px;
    margin: 0.5em 0em 3em 0em;
    &:hover {
      background: black;
    }
  }
}

.article__item {
  display: inline-block;

  &:last-of-type hr {
    display: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
  }

  hr {
    margin: 4em 0em;
    border: none;
    height: 2px;
    background: #aaa;
  }

  button {
    background: #222;
    color: white;
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 0px;
    font-size: 1em;
    padding: 1em 3em;
    display: inline-block;
    margin-top: 1em;
    border-radius: 6px;
    outline: none;

    &:hover {
      background: black;
    }
  }
}