.collection {
  margin-top: 4em;
}
.collection__item {
  margin-bottom: 1em;
  text-align: center;
}

.collection__image {
  background: white;
  box-shadow: 0px 0px 40px rgba(black, 0.1);
  border-radius: 30p 30px 20px 30px;
  box-sizing: border-box;
}

.collection__imagelink {
  // overflow: hidden;
  display: block;
}

.collection__image {
  position: relative;
  padding-bottom: (349/346) * 100%;

  img {
    position: absolute;
    top: 10%; left: 10%;
    height: 80%;
    width: 80%;
    transition: all 500ms ease;
  }
}

.collection__info {
  background: white;
  position: relative;
  padding: 2em;
  border-top: 1px solid #eee;
  // box-shadow: 0px 0px 40px rgba(black, 0.1);
}

.collection__title {
  h3 {
    margin-top: 0;
  }
}

@media(min-width: $bp-sm) {
  .collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;

    &__item {
      
      text-align: left;
      background: white;
      display: inline-block;

      &:nth-child(3n) {
        margin-right: 0;
      }
      
    }
  }
}


@media(min-width: $bp-lg) {
  .collection {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media(min-width: $bp-xl) {
  .collection {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}